/* :root {
  --bg1: darkslateblue;
  --bg2: darkorchid;
  --bg3: darkmagenta;
  --color1: aliceblue;
  --color2: deeppink;
  --color3: gold;
  --color4: goldenrod;
  --gray1: lightgray;
} */

/* Another theme */
:root {
    --bg1: rgb(32, 31, 31);
    --bg2: rgb(145, 158, 163);
    --bg3: rgb(55, 56, 63);
    --color1: aliceblue;
    --color2: rgb(94, 169, 240);
    --color3: rgb(211, 187, 48);
    --color4: rgb(90, 66, 6);
    --gray1: lightgray;
} 
